/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/* line 28, ../../../sass/layouts/interieur/interieur.layout.scss */
body {
  overflow-x: hidden; }

/* line 32, ../../../sass/layouts/interieur/interieur.layout.scss */
.l-branding, .l-region--header {
  margin-top: 10px; }

/* line 36, ../../../sass/layouts/interieur/interieur.layout.scss */
.l-header,
.l-banner,
.l-main {
  *zoom: 1;
  max-width: 1190px;
  max-width: 74.375rem;
  _width: 1190px;
  padding-left: 5px;
  padding-left: 0.3125rem;
  padding-right: 5px;
  padding-right: 0.3125rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
  /* line 38, ../../../../../../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-header:after,
  .l-banner:after,
  .l-main:after {
    content: "";
    display: table;
    clear: both; }

/* line 43, ../../../sass/layouts/interieur/interieur.layout.scss */
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px; }

/* line 50, ../../../sass/layouts/interieur/interieur.layout.scss */
.l-footer ul {
  *zoom: 1;
  max-width: 1190px;
  max-width: 74.375rem;
  _width: 1190px;
  padding-left: 5px;
  padding-left: 0.3125rem;
  padding-right: 5px;
  padding-right: 0.3125rem;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-footer ul:after {
    content: "";
    display: table;
    clear: both; }

/* line 53, ../../../sass/layouts/interieur/interieur.layout.scss */
.l-footer ul li {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-right: 0px; }

/* line 57, ../../../sass/layouts/interieur/interieur.layout.scss */
.l-footer ul li:first-child, .l-footer ul li:last-child {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-right: 0px; }

@media (min-width: 44em) {
  /* line 63, ../../../sass/layouts/interieur/interieur.layout.scss */
  .l-header,
  .l-main,
  .l-footer ul {
    max-width: 1190px;
    max-width: 74.375rem; }

  /* line 69, ../../../sass/layouts/interieur/interieur.layout.scss */
  .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }

  /* line 72, ../../../sass/layouts/interieur/interieur.layout.scss */
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0; }

  /* line 75, ../../../sass/layouts/interieur/interieur.layout.scss */
  .l-region--navigation {
    clear: both; }

  /* line 82, ../../../sass/layouts/interieur/interieur.layout.scss */
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  /* line 85, ../../../sass/layouts/interieur/interieur.layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  /* line 89, ../../../sass/layouts/interieur/interieur.layout.scss */
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; }

  /* line 94, ../../../sass/layouts/interieur/interieur.layout.scss */
  .l-footer ul li {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-right: 0px; }

  /* line 98, ../../../sass/layouts/interieur/interieur.layout.scss */
  .l-footer ul li:first-child, .l-footer ul li:last-child {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    margin-right: 0px; } }
@media (min-width: 70em) {
  /* line 105, ../../../sass/layouts/interieur/interieur.layout.scss */
  .l-header,
  .l-main,
  .l-footer ul {
    max-width: 1190px;
    max-width: 74.375rem; }

  /* line 111, ../../../sass/layouts/interieur/interieur.layout.scss */
  .l-branding {
    width: 36.70886%;
    float: left;
    margin-right: 1.26582%; }

  /* line 114, ../../../sass/layouts/interieur/interieur.layout.scss */
  .l-region--header {
    width: 62.02532%;
    float: right;
    margin-right: 0; }

  /* line 119, ../../../sass/layouts/interieur/interieur.layout.scss */
  .has-sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0; }
  /* line 122, ../../../sass/layouts/interieur/interieur.layout.scss */
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }

  /* line 127, ../../../sass/layouts/interieur/interieur.layout.scss */
  .has-sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%; }
  /* line 130, ../../../sass/layouts/interieur/interieur.layout.scss */
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none; }

  /* line 137, ../../../sass/layouts/interieur/interieur.layout.scss */
  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%; }
  /* line 141, ../../../sass/layouts/interieur/interieur.layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }
  /* line 145, ../../../sass/layouts/interieur/interieur.layout.scss */
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%; }
  /* line 148, ../../../sass/layouts/interieur/interieur.layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; }

  /* line 154, ../../../sass/layouts/interieur/interieur.layout.scss */
  .l-footer ul li {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-right: 0px; }

  /* line 158, ../../../sass/layouts/interieur/interieur.layout.scss */
  .l-footer ul li:first-child, .l-footer ul li:last-child {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
    margin-right: 0px; } }

/*# sourceMappingURL=interieur.layout.css.map */
