.l-banner{
  text-align: center;
  h2{
    display: none;
  }
  .cycle-slideshow{
    height: 40vh;
    overflow: hidden;
    img{
      width: 100%;
    }
    .cycle-overlay{
      position: absolute;
      z-index: 999;
      left: 50px;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 10px 20px 10px 20px;
      text-align: left;
      font-size: 1.2em;
    }
  }
  .cycle-pager{
    color: $light-gray;
    font-size: 2em;
    span{
      cursor: pointer;
    }
    .cycle-pager-active{
      color: $orange;
    }
  }
}
