footer{
  background-color: $light-gray;
  padding: 20px 0 20px 0;
  p{
    -webkit-margin-before: 0em;
  }
  .extern{
    text-decoration: none;
    text-transform: uppercase;
  }
  .icons{
    margin: 0 5px 0 0;
    img{
      width: 25px;
    }
  }
}
