.view-filters{
  margin-bottom: 30px;
  .bef-checkboxes div{
    display: inline-block;
    margin-right: 30px;
  }
}

.nieuws{
  .views-row{
    border-bottom: 1px solid $orange;
    padding: 30px;
    .views-field-title{
      display: block;
      text-decoration: none;
      color: $gray;
      font-weight: bold;
      padding: 10px 0 10px 0;
    }
    .views-field-view-node a{
      text-align: right;
      text-decoration: none;
      display: block;
    }
  }
  .views-row-first{
    background-color: $light-gray;
  }
}

.evenementen{
  .views-row{
    border-bottom: 1px solid $orange;
    padding: 30px;
    display: block;
    clear: both;
    height: 360px;
    position: relative;
    .views-field-field-multi-images{
      float: left;
      margin-right: 30px;
    }
    .views-field-title{
      font-weight: bold;
    }
    .views-field-view-node{
      bottom: 30px;
      position: absolute;
      right: 30px;
    }
  }
}
